body {
    margin: 0;
    padding: 0;
}

/*Filtered Button*/
.filter_btns {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.filter_btn {
    width: 70px;
    height: 35px;
}

.filter_btn:focus {
    color: rgb(0, 128, 128);
    background: #ffffff;
}
/*Item Card Style*/
.item_card {
    width: 150px;
    height: auto;

    padding: 10px;
    margin: 0;

    border: teal solid 2px;
    border-radius: 5px;

    display: grid;
    gap: 5px;
    justify-content: center;
}

.item_card h3,
.item_card p {
    margin: 0;
    text-align: center;
}

.item_card img {
    margin: auto;
}

.notification_b {
    color: darkred;
}

/*Items List Style*/
.items_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/*Other components*/
button {
    border: teal solid 1px;
    background-color: rgba(0, 128, 128, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgba(0, 128, 128, 0.05);
}
button:active {
    background: white;
}

/*Item Page*/
.item_page {
    margin: 20px;

    display: flex;
    justify-content: space-between;
}

.item_page p {
    font-size: 20px;
    margin: 0;
}

.item_page_flex {
    display: grid;
    gap: 4px;

    margin: auto;
    border: teal solid 2px;
    border-radius: 10px;
    padding: 10px;
}

.item_page_flex img {
    margin: auto;
    padding: 10px;
}

.item_page_btns {
    text-align: center;
    padding: 30px;
    gap: 20px;

    height: 178px;
}

.page_cont_btn {
    height: 30px;
    width: 140px;
}

.item_page_counter {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    margin: auto;
    margin-bottom: 10px;
}

/*Basket Item*/
.basketItem {
    border: teal solid 2px;
    border-radius: 5px;

    width: 500px;
    margin: 5px;

    display: flex;
    justify-content: space-around;
}

.counter {
    display: flex;
    align-items: center;
    gap: 5px;

    width: 100px;
}

.price_counter {
    width: 120px;
    margin: auto;

    display: grid;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

.price_counter p {
    margin: 0;
}

/*Basket*/
.basket {
    text-align: center;
    margin: 10px;
}
.basket_container {
    display: flex;
    justify-content: space-around;
}

.total_price {
    width: 35%;
    height: 18px;

    border: teal solid 2px;
    border-radius: 5px;

    padding: 26px;
    margin: 5px;
}



/*Navigation Bar*/
.navigation {
    font-weight: bold;
    border-bottom: teal solid 2px;
    margin-bottom: 15px;
    color: teal;
}

.navigation ul {
    display: flex;
    justify-content: space-around;

    list-style: none;
    width: auto;

    margin: 15px;
    padding: 0;

    cursor: pointer;
}

.navigation li:active,
.navigation li:hover {
    color: rgba(0, 128, 128, 0.6);
}
